service firebase.storage {
  match /b/friendlychat-94e32.appspot.com/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}